.title {
  font-family: "Kaisei Decol";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 52px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.separator {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.table-style {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.table-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  border: 1px solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.table-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

tr > td:first-child > dd {
  font-weight: 700 !important;
}

tbody > tr:last-child {
  border-bottom: white;
  filter: none;
}

.footer-style {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: black;
}

.totals-style {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
